{% extends 'polls/base.html' %}

{% block title %}Register{% endblock %}


{% block main-content %}
    <form method="POST" action="{% url 'login:reg_new_user' %}" class="login_register_form">
        {% csrf_token %}
        {% if error_message %}
            {% for error in error_message %}
                <p class="error">{{ error }}</p>
            {% endfor%}
        {% endif %}
        {% for field in form %}
            <div class="input-container">
                <label for="{{ field.id }}" class="input-container__label">{{ field.label }}</label>
                {{ field }}
            </div>
        {% endfor %}
        <div class="input-container">
            <a href="{% url 'login:index' %}">Login</a>
        </div>
        <button type="submit" name="submit" id="submit" class="button-style">Register</button>
    </form>
{% endblock %}